*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
html body{
	width: 100%;
	height: 100%;
}

.navbar{
	background: linear-gradient( to right, rgba(4, 77, 32),yellow)  !important;
}
.navbar li a{
	color: white !important;
}
.navbar li a:hover{
	color: black !important;
}
.carousel-item{
	background: no-repeat center center scroll;
	background-size: cover; 
}
.khung{
	top: 20%;
}
.carousel-caption h5{
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 25px;
}
.carousel-caption p{
	width: 60%;
	margin: auto;
	font-size: 20px;
	line-height: 1.9;
}
.main{
	width: 100%;
	height: auto;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
	padding: 20px;
	grid-gap: 30px;
	box-sizing: border-box;
}
.main-f .the{
	padding: 20px 30px ;
	position: relative;
	background: #fff;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0px 7px 10px rgba(0,0,0, 0.5);
	transition: 0.5s ease-in-out;
}
.the:hover{
	transform: translateY(20px);
}
.the:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
	z-index: 2;
	transition: 0.5s all;
	opacity: 0;
}
.the:hover:before{
	opacity: 1;
}
.the img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.the .info{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}
.the:hover .info{
	opacity: 1;
	transform: translateY(0px);
}
.the .info h1{
	letter-spacing: 1px;
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 20px;
}
.the .info .btn{
	text-decoration: none;
	padding: 0.5rem 1rem;
	background: #fff;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}
.the .info .btn:hover{
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.doilai{
	padding-top: 38px;
	text-align: center;
}
.doilaibtn{
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}
.diadiemtrai{
	padding-right: 0;
}
.diadiemphai{
	padding-left: 0;
}
.searchdiadiem{
	margin: 0;
}	
@media (max-width: 991px)
{
	.doilaibtn,
	.diadiemtrai,.diadiemphai{
		padding: 0px;
	}
	
}
@media (max-width: 767px)
{
	
	.doilai{
		padding: 0px;
	}
}
.cover{
	width: 100%;
	height: 55vmin;
	background: url(../Images/ban1.jpg);
	background-position: -24rem -19rem;
	background-size: 150%;
	position: relative;
}
.inner-width{
	max-width: 1200px;
	margin: auto;
	display: flex;
  }
.content{
	background: rgb(0, 0, 0,0.7);
	height: 100%;
	width: 100%;
	padding-top: 19vmin;
}
.cover h1{
	font-size: 6vmin;
	color: whitesmoke;
}

.number .col {
	position: relative;
	z-index: 1;
	background: white;
	width: 17rem;
	height: 12rem;
	padding-top: 1.5vmin;
	margin: 1rem;
	border-radius: .5em;
	box-shadow: 1px 2px 50px 0px rgba(150,201,61,1);
}
.number{
	margin-top: -15vmin;
}
.num {
	font-size: 2rem;
	color: tomato;
}  

